* {
    padding : 0;
    margin : 0;
}
main {
    display : grid;
    grid-template-columns : 76% 24%;
    margin : 5px;
}

#tempaltes{
    margin : 0 10px;
    border-right : 1px solid black;
}

h3 {
    font-size : 25px;
}

.template_item {
    margin : 5px;
    width : 60px;
    height : 60px;
}

.clicked {
    background-color : darkgray;
}

#template_settings h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: Calibri;
}

#template_settings div p {
    font-family: Calibri;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
}
#template_settings div p + p {
    font-weight : 600;
}

#template_settings button {
    font-family: Calibri;
    font-size: 20px;
    font-weight: 600;
    min-width: 150px;
    height: 50px;
    padding : 5px;
    margin : 10px;
}

#settings {
    font-weight: 500;
    font-size: 25px;
    font-family: Calibri;
}

#settings input , #settings button {
    margin : 5px;
    padding : 0;
    font-size : 20px;
    height : 30px;
    width : 180px;
}

